body{
  width: 100%;
  height: auto;
  background: url(https://www.smallcase.com/images/bg.svg), linear-gradient(to right, #58488a, #5d64d0)
}
header{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(#ffc107,#fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  h1{
    margin: 0;
    text-align: center;
    font-family: cursive;
    font-size: 23px;
  }
}
*{
  outline: none;
}