.restaurant-detail{
  background: $commonBackground;
  min-height: 100vh;
  padding: 50px;
  .detail-container{
    background: $colorWhite;
    margin: auto;
    max-width: 1000px;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 4px 1px #dedede;
    .image-container{
      height: 250px;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      border-radius: 7px;
      img{
        width: 100%;
        min-height: 100%;
        &:hover{
          opacity: .8;
        }
      }
      .photos, .take-to-zomato{
        margin: 10px;
        padding: 7px 10px;
        border-radius: 5px;
        font-weight: 500;
      }
      .photos{
        background: white;
        color: rgb(207, 27, 49);
        border: 1px solid;
      }
      .take-to-zomato{
        background: rgb(207, 27, 49);
        color: white;
        border: 1px solid #cf1b31;
      }
      .button-container{
        position: absolute;
        margin-top: 200px;
      }
    }
    .address{
      margin-top: 0;
      font-weight: 500;
      color: #888;
      padding-bottom: 10px;
      border-bottom: 1px solid #dcdcdc;
      p{
        margin: 3px 0px;
        font-weight: 400;
        &:last-child{
          color: #795548;
        }
      }
    }
    .name-container{
      display: flex;
      align-items: center;
      margin: 10px 0px;
      h1{
        flex: 1;
        margin: 0;
      }
      .online-order{
        background: green;
        padding: 5px 20px 5px 33px;
        color: white;
        font-weight: 500;
        font-size: 22px;
        margin-right: -23px;
        text-decoration: none;
        &.order-available-0{
          background: #9E9E9E;
          cursor: not-allowed;
          pointer-events: none;
          &:after{
            border-bottom: 7px solid #7a7676;
          }
        }
        &:after{
          content: "";
          border-top: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid #035603;
          width: 0;
          margin-top: -18px;
          /* margin-right: -200px; */
          position: absolute;
          margin-left: 13px;
        }
        &:before{
          content: "";
          position: absolute;
          margin-left: -33px;
          margin-top: -6px;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid white;
        }
      }
    }
  }
}

.map-container{
  h1{
    text-align: center;
    font-family: initial;
    font-size: 24px;
    color: #607d8b;
  }
}

.angular-google-map-container{
  height: 300px;
}

.resto-reviews{
  max-width: 1000px;
  margin: auto;
  padding: 15px;
  background: white;
  margin-top: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 4px 1px #dedede;
  .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
    cursor: pointer;
    .review{
      div{
        &.Excellent{
          background: green;
        }
        &.Average{
          background: #ffc107;
        }
        &.Poor{
          background: #e9430e;
        }
        &.Good{
          background: #CDDC39;
        }
        background: #777;
        padding: 5px;
        border-radius: 3px;
        color: white;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
  .each-review{
    padding-bottom: 10px;
    border-bottom: 2px solid #ededed;
    &:last-child{
      border-bottom: none;
    }
    .profile{
      display: flex;
      align-items: center;
      img{
        max-width: 75px;
        margin: 10px;
        border-radius: 50%;
      }
      .profile-details{
        margin-left: 10px;
        p{
          margin: 0;
          font-size: 14px;
          color: #888;
          font-weight: 500;
        }
        h3{
          margin: 0;
          color: #333;
        }
      }
    }
    .review-details{
      margin: 10px;
      .time{
        margin: 0;
        color: #777;
        font-weight: 500;
      }
      .review-text{
        display: block;
        margin-top: 10px;
        font-size: 14px;
        span{
          background: green;
          width: 22px;
          display: inline-block;
          text-align: center;
          padding: 2px;
          color: white;
          font-weight: 600;
          border-radius: 3px;
          &.Loved{
            background: green;
          }
          &.Average{
            background: #ffc107;
          }
          &.Poor, &.Very.Bad{
            background: #e9430e;
          }
          &.Good{
            background: #CDDC39;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px){
  .restaurant-detail{
    padding: 20px;
  }
}

@media screen and (max-width: 600px){
  .restaurant-detail .detail-container .name-container h1{
    font-size: 24px;
  }
}

@media screen and (max-width: 550px){
  .restaurant-detail .detail-container .image-container{
    height: 150px;
  }
  .restaurant-detail .detail-container .image-container .button-container{
    margin-top: 115px;
  }
  .restaurant-detail .detail-container .image-container .photos{
    font-size: 12px;
  }
  .restaurant-detail .detail-container .image-container .take-to-zomato{
    font-size: 12px;
  }
  .restaurant-detail .detail-container .name-container h1{
    font-size: 18px;
  }
  .restaurant-detail .detail-container .name-container .online-order{
    font-size: 18px;
    &:before{
      content: "";
      position: absolute;
      margin-left: -34px;
      margin-top: -6px;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      border-left: 17px solid white;
    }
  }
  .resto-reviews .each-review .review-details .review-text{
    font-size: 12px;
  }
  .restaurant-detail .detail-container .address{
    font-size: 14px;
  }
}

@media screen and (max-width: 450px){
  .angular-google-map-container{
    height: 250px;
  }
  .restaurant-detail .detail-container .name-container h1{
    font-size: 16px;
  }
  .restaurant-detail .detail-container .address p{
    font-size: 13px;
  }
  .map-container h1{
    font-size: 20px;
  }
  .resto-reviews .heading .review div{
    padding: 3px 5px;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    font-size: 14px;
  }
  .resto-reviews .heading .review h1{
    font-size: 20px;
    margin: 5px;
  }
  .resto-reviews .each-review .profile img{
    max-width: 60px;
    margin-left: 0;
  }
  .resto-reviews .each-review .profile .profile-details h3{
    font-size: 16px;
  }
  .resto-reviews .each-review .profile .profile-details p{
    font-size: 13px;
  }
  .resto-reviews{
    padding: 15px 10px;
  }
  .resto-reviews .each-review .review-details{
    margin: 10px 0px;
  }
}

@media screen and (max-width: 375px){
  .restaurant-detail{
    padding: 10px 5px;
  }
}

@media screen and (max-width: 330px){
  .restaurant-detail .detail-container{
    padding: 7px;
  }
  .restaurant-detail .detail-container .image-container{
    height: 140px;  
  }
  .restaurant-detail .detail-container .image-container .button-container{
    margin-top: 100px;
  }
  .restaurant-detail .detail-container .image-container .photos{
    font-size: 11px;
  }
  .restaurant-detail .detail-container .name-container{
    margin: 6px 0px;
  }
  .restaurant-detail .detail-container .name-container .online-order{
    margin-right: -14px;
  }
  .restaurant-detail .detail-container .address p{
    font-size: 11px;
  }
  .angular-google-map-container{
    height: 175px;
  }
  .map-container h1{
    font-size: 18px;
  }
}