.restaurant-page{
  min-height: 100vh;
  background: #f3f0f0;
  h1{
    margin: 0;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #444;
  }
  .restaurant-list-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 33px;
    .left-filters, .right-filters{
      width: 225px;
      background: transparent;
      border-radius: 7px;
      max-height: 100vh;
      overflow: scroll;
      .filter-list{
        list-style: none;
        margin: 0;
        padding: 0;
        background: white;
        border-radius: 7px;
        box-shadow: 0px 0px 7px 2px #ddd;
        border: 1px solid #eee;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        h1{
          padding: 5px;
          font-weight: 600;
          font-size: 19px;
          color: white;
          border-bottom: 1px solid white;
          text-align: left;
        }
        li{
          padding: 10px;
          font-size: 18px;
          color: #555;
          cursor: pointer;
          &:last-child{
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            border-bottom: none;
          }
          &.true{
            background: #cfcfcf;
            color: #000;
            border-bottom: 1px solid white;
          }
        }
      }
    }
    .right-filters{
      .filter-list{
        h1{
          background: #009688;
        }
      }
    }
    .left-filters{
      .filter-list{
        h1{
          background: #FF5722;
        }
      }
    }
    .restaurant-list{
      flex: 1;
    }
    .restaurant-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background: white;
      max-width: 760px;
      padding: 33px 10px;
      border-radius: 7px;
      box-shadow: 0px 0px 7px 2px #ddd;
      min-height: 50vh;
      .resto-small-card{
        width: 30%;
//        padding: .5%;
        outline: none;
        margin: 1%;
        cursor: pointer;
        padding-bottom: 15px;
        &:hover{
          transform: scale(1.01);
          opacity: .85;
        }
        img{
          height: 150px;
          margin: auto;
          display: block;
          border-radius: 10px;
          max-width: 100%;
          min-width: 100%;
        }
        h2{
          font-size: 16px;
          text-align: left;
          margin: 5px 0px;
          color: #111;
        }
        .address{
          color: #888;
          font-weight: 500;
        }
        .user-rating{
          display: block;
          margin-top: -35px;
          position: absolute;
          float: right;
          z-index: 10;
          .Poor{
            background: #e9430e;
            &:before{
              border-bottom:7px solid #a93b18;
            }
          }
          .Average{
            background: #ffc107;
            &:before{
              border-bottom: 7px solid #ad8818;
            }
          }
          .Excellent{
            background: #19ab19;
          }
          .Not.rated{
            background: #666;
            &:before{
              border-bottom: 7px solid #222;
            }
          }
          .Good{
            background: #CDDC39;
            &:before{
              border-bottom: 7px solid #818c0e;
            }
          }
          span{
            background: green;
            padding: 5px 0px;
            margin-left: -7px;
            color: white;
            width: 40px;
            display: inline-block;
            text-align: center;
            &:before{
              content: "";
              /* border-left: 10px solid red; */
              /* margin-left: -10px; */
              border-top: 7px solid transparent;
              border-left: 7px solid transparent;
              border-bottom: 7px solid #057105;
              width: 0;
              margin-top: -18px;
              float: left;
            }
          }
        }
      }
    }
  }
}

.no-content{
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  color: #FF5722;
}
.loader{
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}

.category-select{
  text-align: center;
  display: none;
}
md-input-container{
  background: rgb(211, 20, 52);
  color: white;
  border-radius: 5px;
  &.md-input-has-value label{
    display: none;
  }
  label{
    color: white;
  }
  md-select-value{
    color: white;
    border-bottom: none;
    /* display: none; */
    max-width: 200px;
    width: 200px;
    &.md-select-value{
      border-radius: 4px;
      border-bottom: none;
      font-weight: 600;
    }
    span{
      margin-top: -5px;
    }
  }
  .md-select-value .md-select-icon{
    display: none;
  }
}
md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value{
  color: white;
}
md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder{
  color: white;
}
md-select:not([disabled]):focus .md-select-value{
  border-bottom: none;
}

@media screen and (min-width: 1500px){
  .restaurant-page .restaurant-list-container .left-filters, .restaurant-page .restaurant-list-container .right-filters{
    width: 270px;
  }
  .restaurant-page .restaurant-list-container .restaurant-list{
    max-width: 850px;
  }
}

@media screen and (max-width: 1080px){
  .left-filters, .right-filters{
    display: none;
  }
  .category-select{
    display: block;
  }
}

@media screen and (max-width: 800px){
  .restaurant-page .restaurant-list-container .restaurant-list{
    max-width: 90%;
  }
}
@media screen and (max-width: 600px){
  .restaurant-page .restaurant-list-container .restaurant-list .resto-small-card h2{
    font-size: 14px;
    }
  .restaurant-page .restaurant-list-container .restaurant-list .resto-small-card .address{
    font-size: 13px;
  }
}

@media screen and (max-width: 500px){
  .restaurant-page .restaurant-list-container .restaurant-list .resto-small-card{
    width: 45%;
  }
  .restaurant-page h1{
    font-size: 18px;
  }
}
