<div class="restaurant-page">
  <h1>Here are some restaurants near {{list.locatiosData.title}}</h1>
  <div class="restaurant-list-container">
    <div class="left-filters">filter</div>
    <div class="restaurant-list">
      <div class="resto-small-card" ng-repeat="rest in list.restaurantsToShow">
        <img ng-if="rest.restaurant.thumb" src={{rest.restaurant.thumb}} alt="">
        <img ng-if="!rest.restaurant.thumb" src={{list.noImage}} alt="">
        <span class="user-rating">
          <span class={{rest.restaurant.user_rating.rating_text}}>{{rest.restaurant.user_rating.aggregate_rating}}</span>
        </span>
        <h2>{{rest.restaurant.name}}</h2>
        <span class="address">{{rest.restaurant.location.locality}}</span>
      </div>
    </div>
    <div class="right-filters">price</div>
  </div>
</div>